* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  scroll-behavior: smooth;
  text-transform: none;
  text-shadow: none !important;
  font-family: 'Fira Sans', "Inter", "Readex Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1c1e21;
  background-color: #f2f4f7;
}

body {
  display: flex;
  flex-direction: column;
  unicode-bidi: embed;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: ltr;
  line-height: var(--body-line-height);
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--body-font-family);
  font-optical-sizing: auto;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  font-variation-settings: var(--body-font-variation);
  isolation: isolate;
  color: #1c1e21;
  background-color: #f2f4f7;
}

.main-content,
.container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #1c1e21;
  background-color: #f2f4f7;
}

.main-content {
  padding: 0;
}

.main-content-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 50px;
}

section {
  padding: 50px;
}

#last-section {
  margin-bottom: 50px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #42047e;
}

.header-logo {
  height: 30px;
  width: 100px;
  margin: 0;
  padding: 0;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0; */
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #42047e;
}

.footer-logo {
  height: 50px;
  width: 65px;
}